.user-profile {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 1rem 1rem;
  margin-bottom: 6rem;
}

.heading {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

#edit-button {
  text-align: center;
  margin-top: 2rem;

  .btn-primary {
    color: #fff;
    background-color: #2ec185;
    border-color: #2ec185;

    &:focus {
      box-shadow: 0 0 0 0.25rem #2ec185;
    }
  }
}

.form-label {
  font-size: 0.9rem;
  color: #214749;
  font-weight: 600;
}
.form-control-button {
  //max-width: 70%;
  min-height: 1.5rem;
  box-shadow: 0 0.25em 2em -1em rgba(0, 0, 0, 1);
  margin: auto;
  &:hover {
    border: 1px solid;
    border-color: #2ec185;
  }
  &:focus {
    border-color: #000000 !important;
    box-shadow: 0 0.25em 2em -1em #000000 !important;
  }
}
