.navbar-header {
  background-color: #f8f9f5;
  font-size: 1.5rem;
  padding: 0 4rem;

  .nav-link {
    margin-right: 2rem;
  }
}
.header-logo-image {
  display: block;
  width: 5em;
  height: 5em;
  margin-right: 3rem;
}
